<h1 class="create-h1">Eat The Burger!</h1>

<div class="create-img">
<img src="../public/assets/img/Burger-Transparent.png"></img>
</div>
<div class="upSize">
<form class="create-update-form" action="/" method="post">
	<textarea class="create-text" type="text" name="task"></textarea>
	<br />

	<button class="button" type="submit">Submit</button>
</form>
</div>